<div class="background-box">
  <div class="todo-container mx-auto">
    <h2 class="todo-title">TODOS</h2>
    <%= turbo_frame_tag "todos-container", class: "todos-frame" do %>
      <div class="todos-header">
        <ul class="todo-links">
          <li>
            <%= link_to "Incomplete",
              todos_path(status: "incomplete"),
              class: "todo-link incomplete-link #{'active' if params[:status] != 'complete'}"
            %>
          </li>
          <li>
            <%= link_to "Complete",
              todos_path(status: "complete"),
              class: "todo-link complete-link #{'active' if params[:status] == 'complete'}"
            %>
          </li>
        </ul>
      </div>

      <% unless params[:status] == "complete" %>
        <div class="todo-form">
          <%= render "form", todo: Todo.new %>
        </div>
      <% end %>

      
      <ul id="todos">
        <%= render @todos %>
      </ul>
    <% end %>
  </div>
</div>
